/*mobile-first design*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    font-family: Ubuntu, sans-serif;
    margin: 0 auto;
    padding: 0;


    /*height: 100vh;*/
}

body {
    /*width: 339px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    width: 100vw;
    height: 100vh;
}

.alert-info>a {
    background: lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    text-decoration: none;
    color: black
}

.header-img {
    display: flex;
    justify-content: center;
}

.header-img>img {
    height: 224px;
    width: 339px;

}


h1 {
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-weight: bold;
    margin: 5px 0 20px 0;
}

.nav-links {
    padding: 0;
    margin: 0;
}

ul .nav-links {
    width: calc(100% - 68px);
}

.nav-links>li {
    background: lightgray;
    margin: 12px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

h2 {
    font-weight: bolder;
}

.main>h2 {
    margin: 19px 0 0 0;
}

.main>p {
    margin: 7px 0 30px 0;
}

.sub-section {
    font-style: italic;

}

.sub-section h2 {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 0;
    margin-bottom: 10px;
}

.sub-section p {
    font-size: 13px;
    margin-left: 0;
}

footer {
    margin: 50px 0 0 0;
    font-size: 9px;
}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

    .hidden-on-desktop>a {
        display: none;
    }

body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 400px 400px 100px;
    height: auto;
    width: 100vw;

    grid-template-areas:
            "company       nav-links"
            "img           img"
            "main-section  sub-section"
            "bottom-footer bottom-footer";
}

h1 {
    grid-area: company
}

nav {
    grid-area: nav-links;

}

ul {
    display: flex;
    flex-direction: row;

}


.nav-links>li {
    background: white;
    display: flex;
    align-items: ;

}


.header-img {
    display: flex;
    justify-content: center;
}
    .header-img>img {

    height: auto;
        width: 100%;
    }


    div .header-img {
    grid-area: img;
}

section .main {
    grid-area: main-section;
}

section .sub-section {
    grid-area: sub-section;
}

footer {
    grid-area: bottom-footer;
}


