/*mobile-first design*/

* {
    font-family: Ubuntu, sans-serif;
}

body {
    width: 339px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main {



}

h1 {
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-weight: bold;
}

.nav-links {
    padding: 0;
    margin: 0;
}

.nav-links>li {
    background: lightgray;
    margin: 12px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.sub-section {
    font-style: italic;

}

h2 {
    font-weight: bolder;
}

.sub-section h2 {
    font-size: 20px;
    font-weight: bolder;
}

.sub-section p {
    font-size: 13px;
}



/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {







}